

#the-logo {
    padding: 200px 200px 10px 200px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
}

.center input {
    height: 52px;
    width: 584px;
}

#search-bar input {
    border-radius: 25px;
    border: 2px solid #989899;
    padding: 10px 30px 10px ;
    width: 584px;
    height: 52px;
    
}

div#search-bar {
    padding: 0px 0px 10px 0px;
}

.button {
    background-color: #f2f2f2;
    color: #5f6368;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button:hover {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    color: #222;
}

#action-buttons {
    padding-top: 10px;
}

#wrapper {
    margin-left: auto;
    margin-right: auto;
}

#nav-bar{
    display: inline;
}


#links{
    
    display: inline;
}
body, td, a, p, .h {
    font-family: arial,sans-serif;
    padding: 10px 10px 20px 15px;
    color: #000;
    font-size: 15px;
}

input{
    background-image: url(photos/google-search-magnifying-glass-icon-5.jpg);
    background-position: left;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    padding: 10px;
    
}
